@import "~bootstrap/scss/bootstrap";
@import "utils.scss";
@import "reset.scss";
@import "style.scss";

td img {
    width: 30px;
}

.logo {
    width: 50px;
}

.container-table {
    margin-top: 30px;
}

.accordion {
    background: #000000;
    opacity: 0.9;
}

.containermain {
    background-image: url('../../public/img/dashboard.jpg');
    background-size: cover;
    padding-bottom: 35px;
    margin-bottom: 10px;

    p {
        background-color: #00000069;
        font-size: 1.25rem;
    }
    .restaurant-card {
        background-color: #00000069;
    }
}