body {
    background-color: #e7e3df;
}

//font paragrafi
p {
    font-size: 1.125rem;
}

//admin.blade
.fnt-std {
    font-size: 1.25rem;
}

//admin.blade
.logo {
    object-fit: cover;
    width: 3.125rem;

    img {
        width: 100%;
        border-radius: 6.25rem;
    }
}

.carddish li {
    border: 2px solid black;
    width: 300px;
    padding: 10px;
    border-radius: 20px;

}

.carddish li:hover {
    transform: scale(1.1);
    transition: 0.5s ease-in-out;
}

.btndish {
    animation: animazionedish 5s infinite linear;
    margin-right: 10px;
}

//jumbotron
.jumbotron {
    background-image: url('../../public/img/jumbo.jpg');
    background-size: 100%;
    background-repeat: no-repeat;

    h1 {
        color: rgba(0, 0, 0, 0.767);
    }

    p {
        background-color: rgba(0, 0, 0, 0.356);
        padding: .625rem;
        color: white;
        border-radius: .9375rem;
    }

    .jumbo {
        object-fit: cover;
        width: 6.25rem;

        img {
            width: 100%;
            border-radius: 6.25rem;
        }
    }
}

//card pagina home
.home-card {
    width: calc(100% / 2 - 1.25rem);
    background-color: white;
    border: .125rem solid #FFA500;

    p {
        margin: 0;
    }
}

//footer
footer {
    background-color: #1D1D1DFF;
    color: $info;
}

//dish.show
.dish-img-container {
    width: 21.875rem;

    &:hover {
        transform: scale(1.2);
        transition: 0.4s ease-in-out;
    }

}

.dish-img-container img {
    filter: drop-shadow(5px 5px 5px #fff);
}

.ciao {
    animation: ciao 1.5s ease-in-out;
}

@keyframes animazionedish {
    0% {
        transform: rotate(0deg);
        box-shadow: 2px 2px 2px 2px black;
    }

    50% {
        transform: rotate(-5deg);
        box-shadow: 1px 1px 1px 1px orange;
    }

    75% {
        transform: rotate(5deg);
        box-shadow: 2px 2px 2px 2px black;

    }

    100% {
        transform: rotate(0);
        box-shadow: 1px 1px 1px 1px orange;
    }

}

@keyframes ciao {
    0% {
        width: 0px;
    }

    100% {
        width: 100%;
    }

}

.requirement {
    color: #808080;
}

.requirement.valid {
    color: #4CAF50;
}

.requirement.error {
    color: red;
}

.passworderror {
    color: red;
}

.passwordtrue {
    color: green;
}

//   .error {
//     color: red;
//   }

//   .display-block {
//     display: block;
//   }

.requirementpassowrd {
    display: none;
}

//   .error {
//     color: red;
//     display: none;
//   }

//   input:invalid + .error {
//     display: block;
//   }

//   input:valid + .error {
//     display: none;
//   }
//   .error2 {
//     color: red;
//     display: none;
//   }

//   input:invalid + .error2 {
//     display: block;
//   }

//   input:valid + .error2 {
//     display: none;
//   }